<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>Planlet - a little about you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="css/colorfrog.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/colorfrog.js"></script>
    <script src="js/aboutYou.js"></script>
    <link rel="stylesheet" href="css/planlet.css">

</head>

<body class="blue">

    <div class="container">
        <header>
            <a class="brand">Planlet</a>
        </header>


    </div>
    <div class="container content">
        <hr>
        <div class="row">
            <div class="col-xs-12">

                <form class="form-signin clearfix" action='availability' id="abouYouForm">
                    <h2>A Little About You:</h2>
                    <div class="form-group-sm">Major(s)</div>
                    <select class="form-group-lg form-control" id="selMajor" required>
                        <option  disabled selected style="display: none;">Select a major</option>
                        <option>COGS</option>
                        <option>LIGN</option>
                    </select>
                    <br>
                    <div class="form-group-sm">Minor(s)</div>
                    <select class="form-group-lg form-control" id="selMinor">
                        <option value="" disabled selected style="display: none;">Select a Minor</option>
                        <option>No Minor</option>
                        <option>CSE</option>
                    </select>
                    <div class="form-group-sm">College(s)</div>
                    <select class="form-group-lg form-control" id="selMajor" required>
                        <option value="" disabled selected style="display: none;">Select a College</option>
                        <option>Warren</option>
                        <option>Revelle</option>
                    </select>

                </form>


                <!--Select tag and option tag, https://blink.ucsd.edu/instructors/academic-info/majors/minor-codes.html-->
            </div> <!-- //end span12 -->
        </div> <!-- //end row -->
    </div> <!-- //end container -->

    <footer>
        <div class="container" style="width: 100%; padding: 0px;">
            <button class="btn nxtBtn" type="submit" onclick="next()" >Next</button>
        </div>
        <!--//end container -->
    </footer>



</body>

</html>