<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Planlet - Availability</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="/css/colorfrog.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href="/favicon.ico" rel="shortcut icon" type="/image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/respond.min.js"></script>
    <link rel="stylesheet" href="/css/planlet.css">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/colorfrog.js"></script>
    <script src="/js/schedule.js"></script>

    <link rel="stylesheet" href="/css/schedule_style.css">


    <link rel="stylesheet" href="/css/planlet.css">

    <!--[if lt IE 9]>
    <script>
        document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
    </script>
<![endif]-->

</head>

<body class="blue">

    <div class="container">
        <button style="top: .5em;" class="btn" id="backButt" onclick="window.history.back()"><i class="fas fa-arrow-left"></i></button>
        <br>
    </div> <!-- //end container -->
    <br>
    <div class="jumbotron">
        <div class="container">
            <h6 style="float: left;">Select when you're unavailable.</h6>
            <button style="position: relative; top: 5px;" class="btn btn-small clear" id="clearBtn" onclick="clearData()">Clear Info</button>
        </div>
    </div>

    <div id="weekly-schedule"></div>

    <div id="day-schedule"></div>

    <script>

    $(window).on('beforeunload', function () {
        $("#day-schedule").dayScheduleSelector.endTime += '20:30';
        $.postJSON('/saveNotIndexed/blockedTimes/' + $("#emailInput").text(), $("#day-schedule").data('artsy.dayScheduleSelector').serialize(), function (result) {
            console.log('result', result);
        });
    }); 

    $.postJSON = function (url, data, success, args) {
        args = $.extend({
            url: url,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: success
        }, args);
        return $.ajax(args);
    }; 
    $( document ).ready(function() {  
        var schedule = {
            days: [0, 1, 2, 3, 4],
            startTime: '08:00',
            endTime: '22:00',
            interval: 30,
            stringDays: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
        };

        $("#day-schedule").dayScheduleSelector(schedule);
        $.getJSON('/getData/blockedTimes/' + $("#emailInput").text() + '/'+Math.random() , function (data) {
            if(data.data)
                $("#day-schedule").data('artsy.dayScheduleSelector').deserialize(JSON.parse(data.data.data));
            //$("#day-schedule").dayScheduleSelector.endTime += '20:00';
        });
    });
    function clearData(){
        $("#day-schedule").data('artsy.dayScheduleSelector').clear();
    }
    </script>
    <br><br>
    <!--
    <div style="display: flex; align-content:center;">
    <button class="btn btn-small clear"  onclick="clearData()">Clear Info</button></div>
    <br>
    <hr>
    <hr>-->
    		<div style="visibility: hidden;" id="emailInput">{{email}}</div>

    <footer>
        <div class="footerdiv"></div>
        <!--//end container -->
    </footer>

</body>

</html>