<!DOCTYPE html>
<html>

<head>
    <title>Planlet - Class Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="/css/colorfrog.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/respond.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/colorfrog.js"></script>
    <script src="/js/classesDisplay.js"></script>
    <link rel="stylesheet" href="/css/planlet.css">
    <link rel="stylesheet" href="/css/classes.css">

</head>

<body class="blue" onload="getClasses()">

    <div class="container" style="padding: 0px;">
        <a href="/userinfo"> <button class="settings"> </button> </a>

    </div> <!-- //end container -->

    <div class="jumbotron">
        <div class="container">
            <h5>Here are all the class you need that will be offered next quarter.</h5>
                <h6>Select 2-6 classes you would like to take.</h6>
        </div>
    </div> <!-- //end hero-unit -->

    <h5 id="lblMajorClasses">{{majorName}}</h5>
    <div class="classDiv" id="majorClasses">

    </div>

    <h5 id="lblMinorClasses">{{minorName}}:</h5>
    <div class="classDiv" id="minorClasses">
    </div>

    <h5 id="lblGEClasses">{{collegeName}}</h5>
    <h5>General Education:</h5>
    <div class="classDiv" id="geClasses">
    </div>

    <h5 id="lblOthClasses">Other Classes:</h5>
    <div class="classDiv" id="geClasses">
        <input id="searchInput" type="search"></input>
        <button id="classSearch" type="btn">Search</button>
    </div>

    <br><br><br>
    <div style="display: flex; align-content:center;">
    <button class="btn btn-small clear"  onclick="clearClick()">Clear Info</button></div>
    <br>


    <hr>
    <hr>

    <footer>
        <div class="footerdiv"></div>
        <div class="container" style="width: 100%; padding: 0px;">
            <a href="/availability"> <button class="btn bckBtn">Back</button></a>
            <a href="/possibleSchedules"> <button class="btn" id="genBtn">Generate</button> </a>
        </div>
        <!--//end container -->
    </footer>




</body>

</html>