<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />

	<title>Planlet - Password Reset</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap css -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="css/colorfrog.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
		type='text/css'>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="js/respond.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/colorfrog.js"></script>


	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->

</head>

<body class="bw">

	<div class="container">
		<header>
			<a class="brand">Planlet</a>
		</header>
	</div> <!-- //end container -->


	<div class="container content">
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-forogtten-password clearfix" action="/">
					<h2>Request new password</h2>
					<div class="form-group">
						<label>Enter the email address you registered with:</label>
						<input type="text" class="form-control" placeholder="Email address">
					</div>
					<button class="btn btn-large" type="submit">Request new password</button>
					<a href="/"><button class="btn bckBtn" type="submit">Back</button></a>
				</form>
			</div> <!-- //end span12 -->
		</div> <!-- //end row -->
	</div> <!-- //end container -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>