<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Planlet - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <!-- Bootstrap css -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="/css/colorfrog.css" rel="stylesheet" media="screen">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="/css/planlet.css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/js/respond.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script src="/js/colorfrog.js"></script>
    <script src="/js/dataBaseInteractions.js"></script>

    <script>
        function httpFix() {
            if (window.location.protocol === "https:")
                window.location.protocol = "http";
        }
    </script>
    <!--
    {{> facebook}}
    <script src="/js/facebook.js"></script>-->

    <!--[if lt IE 9]>
    <script>
        document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
    </script>
    <![endif]-->

</head>

<body class="blue">

    <div class="container">
        <header>
            <a class="brand">Planlet</a>
        </header>
    </div> <!-- //end container -->
    

    <div class="container content">
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <form id="logInForm" class="form-signin clearfix">

                    <h2>Login</h2>
                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="Email address" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                    </div>
                        <!--<p style="float: right;" class="facebookLogin">
				            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				            </fb:login-button>
			            </p>-->
                    <label class="checkbox" style="margin-left: 20px" ;>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>

                    <a href="forgottenPassword">Forgotten password?</a>
                    <div class="form-group clearfix" style="display: flex; justify-content:center; margin-top: 10px;">
                        <button class="btn btn-large" onClick="logInOrRegister('logIn')">Log in</button></a>
                    </div>
                </form>





                <form style="display: none;" id="signUpForm" class="form-signin clearfix">
                    <h2>Create Account</h2>
                    <div class="form-group">
                        <input type="text" id="new_email" name="email" placeholder="Email address" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" id="new_password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <label class="checkbox" style="margin-left: 20px" ;>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <div class="form-group clearfix" style="display: flex; justify-content:center; margin-top: 10px;">
                        <button class="btn btn-large" type="submit" onClick="logInOrRegister('register')">Create Account</button></a>
                    </div>
                </form>

                <br><br>
                <div style=" display: flex; justify-content:center;">
                    <button id="switchtosignup" class="btn btn-sm" onClick="seeSignUp('new_')">Don't have an account? Create Account</button>
                </div>



            </div> <!-- //end span12 -->
        </div> <!-- //end row -->
    </div> <!-- //end container -->

    <footer>
        <div class="container" style="width: 100%; padding: 0px;">
            <button style="visibility: hidden;" class="btn nxtBtn" type="submit">Next</button>
        </div>
        <!--//end container -->
    </footer>


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>