<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
    <meta charset="utf-8" />
    
    <title>Planlet - Schedule Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="css/colorfrog.css" rel="stylesheet" media="screen">   

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="js/respond.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.js"></script> 
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/colorfrog.js"></script>
    <link rel="stylesheet" href="css/planlet.css">
	
	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
	<![endif]-->

</head>
<body>
<!--
Use the corresponding body tag for your chosen theme
<body class="blue">
<body class="orange">
<body class="green">
<body class="bw">
-->

	<div class="container">
		<header>
            <a class="brand">Planlet</a>
        </header>

        <a href="/userinfo"> <button class="settings"> </button> </a>
	</div> <!-- //end container -->	
	
	<div class="jumbotron">
		<div class="container">
			<h4>Here are all your possible schedules.</h4>
			<h6>Use the filters to find what works for you.</h6>
		</div>
	</div> <!-- //end hero-unit -->

	<div class="container content underHero">
		<div class="row">
			<div class="col-sm-12">
				<div class="filters">
					Showing:
					<a href="#" data-filter="all" class="active-filter">All</a><a href="" data-filter="x"># of Classes</a><a href="" data-filter="y">Time Preference</a><a href="" data-filter="z">Starred</a>								
				</div>
			</div>
		</div>
	
		<div class="filterContent">
		
			<div class="filter-all">
		
				<div class="row">
		
					<div class="col-sm-4 feature type-x">		
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->			
					</div> <!-- //end span4 -->
			
					<div class="col-sm-4 feature type-y">
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search text"><a href="http://bengoodyear.com">http://bengoodyear.com</a></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window-1.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->
				
					<div class="col-sm-4 feature type-z">			
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->		
				</div> <!-- //end row -->

				<div class="row">
					<div class="col-sm-4 feature type-x">		
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->			
					</div> <!-- //end span4 -->
			
					<div class="col-sm-4 feature type-y">
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search text"><a href="http://bengoodyear.com">http://bengoodyear.com</a></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window-1.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->
				
					<div class="col-sm-4 feature type-z">			
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->		
					
				</div> <!-- //end row -->
				
				<div class="row">
		
					<div class="col-sm-4 feature type-z">			
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->		
					</div> <!-- //end span4 -->
			
					<div class="col-sm-4 feature type-z">
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search text"><a href="http://bengoodyear.com">http://bengoodyear.com</a></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window-1.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->
				
					<div class="col-sm-4 feature type-z">			
						<div class="browser">
							<div class="bar">
								<div class="home"></div>
								<div class="addressbar">
									<div class="search"></div>
								</div>
								<div class="settings"></div>
							</div>
							<div class="content">
								<img src="img/window.png" alt="" />				
							</div>
						</div> <!-- //end browser -->
					</div> <!-- //end span4 -->		
					
				</div> <!-- //end row -->



			</div> <!-- //end filter-all -->
			
			<div class="filter-custom">
			
			</div> <!-- //end filter custom -->
			
		</div> <!-- //end filter content -->

	</div> <!-- //end container -->	

</body>
</html>