<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />

	<meta charset="utf-8" />

	<title>Planlet - Schedule Selection</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap css -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<!-- Theme css -->
	<link href="css/colorfrog.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
	type='text/css'>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<script src="js/respond.min.js"></script>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/colorfrog.js"></script>
	<script src="js/daypilot-all.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/planlet.css">
	<link type="text/css" rel="stylesheet" href="css/calendar_green.css" /> 


	<!--[if lt IE 9]>
	<script>
		document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
	</script>
<![endif]-->

</head>

<body class="blue">
	<!--
Use the corresponding body tag for your chosen theme
<body class="blue">
<body class="orange">
<body class="green">
<body class="bw">
-->

<div class="container">
	<header>
		<a class="brand">Planlet</a>
	</header>

	<a href="/userinfo"> <button class="settings"> </button> </a>
</div> <!-- //end container -->

<div class="jumbotron">
	<div class="container">
		<h4>Here are all your possible schedules.</h4>
		<h6>Use the filters to find what works for you.</h6>
	</div>
</div> <!-- //end hero-unit -->

<div class="container content underHero">
	<div class="row">
		<div class="col-sm-12">
			<div class="filters">
				Showing:
				<br><a href="#" data-filter="all" class="active-filter">All</a><br><a href="" data-filter="x">
					<select>
						<option value="">No class# preference</option>
						<option value="1">1 classes</option>
						<option value="2">2 classes</option>
						<option value="3" selected>3 classes</option>
						<option value="4">4 classes</option>
						<option value="5">5 classes</option>
					</select> </a> 
					<br><a href="" data-filter="y">
					<select>
						<option selected>No Time Preference</option>
						<option value="morn">Morning</option>
						<option value="aft">Afternoon</option>
					</select></a><br>
					<a href=""	data-filter="z">Starred</a>
			</div>
		</div>
	</div>

	<div class="filterContent">

		<div class="filter-all">



		</div> <!-- //end row -->



	</div> <!-- //end filter-all -->

	<div class="filter-custom">

	</div> <!-- //end filter custom -->

</div> <!-- //end filter content -->
</div> <!-- //end container -->
{{#each classes}}
        <h4 class="className">{{text}}</h4>
        <button class="addButt">+</button>
        <button class="finishedButt">-</button>
  {{/each}}
<div class="container content">
	<div id="dp"> </div>
	<script src="js/possible-schedules.js" type="text/javascript"></script>
</div>


<br>
<footer>
	<div class="container" style="width: 100%; padding: 0px;">
		<a href="/classes/COGS?"><button class="btn bckBtn">Back</button></a>
	</div>
	<!--//end container -->
</footer>



</body>

</html>