<!DOCTYPE html>
<meta charset="utf-8" />
    
    <title>Planlet - Availability</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Theme css -->
    <link href="css/colorfrog.css" rel="stylesheet" media="screen">   

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="js/respond.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.js"></script> 
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/colorfrog.js"></script>
    <link rel="stylesheet" href="../css/aboutyou.css">
    <link rel="stylesheet" href="../css/planlet.css">
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');document.createElement('nav');document.createElement('section');document.createElement('article');document.createElement('aside');document.createElement('footer');
    </script>
    <![endif]-->

</head>
<body class="bw">

    <div class="container">
        <header>
            <a class="brand">Planlet</a>
        </header>
    </div> <!-- //end container --> 

        <div class="grid-container">
            <div class="grid-item" id="lblTitle">
                <h1>Your Settings:</h1>
                <button class="btn" id="settingButt">Back</button> 
            </div>

            <div class="grid-item" id="lblName">First Name</div>
            <input size="7" id="nameInput" type="text"></input>

            <div class="grid-item" id="lblEmail" >Email</div>
            <input id="emailInput" type="text"></input>

            <div class="grid-item"id="lblMajor">Major(s)</div>
            <select id="selMajor">
                <option>Select a major</option>
                <option>Cogs: Design & Interaction</option>
                <option>Cogs: Machine Learning</option>
            </select>

            <div class="grid-item" id="lblMinor">Minor(s)</div>
            <select id="selMinor">
                <option>Select a Minor</option>
                <option>No Minor</option>
                <option>Computer Science</option>
            </select>
            <!--Select tag and option tag, https://blink.ucsd.edu/instructors/academic-info/majors/minor-codes.html-->

            <button class="btn" id="saveButt">Save</button>   
            <button class="btn" id="clearButt">Clear Schedules</button> 
        </div>
    </body>
</html>    