body{               
    font-family:Arial, Helvetica, sans-serif;
    margin: 1em;
}
.grid-container {
    grid-template-rows: 5em 1.5em 1.5em 1.5em 1.5em;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    grid-gap: 2.5em .5em;
    justify-content: space-evenly;
}

#lblTitle {
    grid-column: span 4;
    grid-row: 1;
    height: 5em;
}


#saveButt {
    grid-column: 3;
    align-content: center;
    grid-row: 6;
}


.grid-container {
    grid-template-rows: 6em;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    grid-gap: 2.5em .5em;
    justify-content: space-evenly;
}

#lblTitle {
    grid-column: span 4;
    grid-row: 1;
    height: 5em;
}
#lblTitle h1{
    font-size: 2em;
}