
.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #3498DB;
  cursor: pointer;
  border-style: solid;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
  border-style: hidden;
}

}
th {
    font-weight: bold;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }
.schedule-rows td[data-disabled] { opacity: 0.55; }


/*Condensed Schedule!!!!!*/

.schCond{
  width: 47%;
  height: 0;
  padding-bottom: 47%;
  border-style: solid;
  border-width: 5px;

}

.dayTitle{
  text-align: center;
  font-size: 30px;
}

.condDay{
  width: 19%;
  height: 100%;
  display: inline-block ;
  vertical-align: top;
}

.class{
  padding: 3px;
  padding-top: 5px;
  color: white;
  margin: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

.shortClass{
  height: 3em;
  background-color: red;
}


.longClass{
  height: 5em;
  background-color: blue;
}