.grid-container {
    grid-template-rows: 7em auto 14em; 
    grid-template-columns: repeat(3, auto);
    display: grid;
    grid-gap: 2.5em .5em;
}

#lblTitle{
    grid-row: 2;
    grid-column: 1 / span 3;
    text-align: center;
}

#lblTitle h1 {
    font-size: 4em;
}

#contDiv{
    grid-row: 3;
    grid-column: 1 / span 3;
    border: .3em;
    background-color:#c9c9c9;
    border-style: solid;
    margin-bottom: 1.5em;
}

#signMenu{
    display: flex;
    justify-content: space-around;
}

#loginMenu, #mkMenu, #fgtPass {
    margin-bottom: 1.5em;
}

#mkMenu{
    background-color: #c9c9c9;
}

#lblEmail, #lblPassword{
    padding: .5em;
    display: inline-block;
    width: 35%;
}

#loginInfo{
    padding: .5em;
}


#emailInput, #passInput{
    width: 65%;
    float: right;
}